div.box{background-color: rgb(255, 255, 255);width: 1330px;border: 15px solid rgb(136, 116, 93);padding: 50px;margin: 20px;align-content:center}
a.boardlink{display:inline-block;font-size:1.2em;padding:5px 10px 5px 0}
div.column{margin-bottom:25px;height: auto}